django
django-admin-interface
djangorestframework-simplejwt
djangorestframework
markdown
django-filter
requests
gunicorn
supervisor
django-environ
sendgrid
django-simple-captcha
django-cors-headers
Faker
PyMySQL==1.0.3
mysqlclient==2.1.1
django-redis
django-redis-sessions
django-restql
drf-yasg
rich
ShopifyAPI
django_extensions