django
django-admin-interface
djangorestframework-simplejwt
djangorestframework
markdown
django-filter
requests
gunicorn
supervisor
django-environ
sendgrid
django-simple-captcha
django-cors-headers
PyMySQL
mysqlclient